{% macro detail(appt, link_title=false, show_edit=false, show_skills=true, show_students=true) %}
<div class="created_course">
    {% if show_edit %}
    <div class="edit-controls"  align="right">
        <i class="icon-pencil"></i>
        <a href="{{ url_for('course_edit', course_id=appt.id) }}">Edit</a>
        <span class="inline-pad"></span>
        <i class="icon-trash"></i>
    </div>
    {% endif %}
    {% if link_title %}
    <h3><a href="{{ url_for('course_details', course_id=appt.id, course_title=appt.course_title, course_city=appt.city) }}">{{ appt.course_title or '(No Title)' }}</a></h3>
    <h4><a href="{{ appt.coach_website|default('') }}" target="_blank"><i class="fa fa-briefcase"></i> {{ appt.name|default('') }}</a></h4>
    {% else %}
    <h1>{{ appt.course_title or '(No Title)' }}</h1> 
 	<h3><a href="{{ url_for('course_apply', course_id=appt.id , course_title=appt.course_title) }}"><button  style="margin-bottom: 20px;" type="button" class="btn btn-primary btn-lg"><i class="fa fa-hand-o-right fa-lg"></i> Join this course</button></a></h3>
    <h3><i class="fa fa-calendar-check-o"></i> {{ appt.course_start_date|default('') }} &nbsp;&nbsp;<i class="fa fa-hand-o-right"></i>&nbsp;{{ appt.course_end_date|default('')}}<i class="fa fa-graduation-cap"></i></h3> 
    <h3><i class="fa fa-map-marker"></i> {{ appt.street_address|default('') }}, {{ appt.city|default('') }},{{ appt.country|default('') }} </h3>
	<h3><i class="fa fa-users"></i> {{ appt.max_students|default('') }}&nbsp;&nbsp;<i class="fa fa-money">&nbsp;{{appt.cost_per_hour|int * 1.60 / appt.max_students|int}}&nbsp;<i class="fa fa-eur"></i></i>
</h3>
	<h3><i class="fa fa-user"></i> {{ appt.min_students|default('') }}&nbsp;&nbsp;<i class="fa fa-money">&nbsp;{{appt.cost_per_hour|int * 1.60 / appt.min_students|int}}&nbsp;</i><i class="fa fa-eur"></i></h3>


	
 <hr>
    <h4>Course Description</h4><!---I took out |default('')|markdown here---->
    <div class="description">{{ appt.description}}</div>
    <hr>
    {% endif %}

    <div class="requirements">
        <h4>Course Modules or Learning Program or Learning Structure:</h4>
        {% if show_skills %}
        <ul>
          {% if appt.course_module_one %}
            <li>{{ appt.course_module_one|default('')}}</li>
          {% else %}
          {% endif %}

          {% if appt.course_module_two %}
            <li>{{ appt.course_module_two|default('')}}</li>
          {% else %}
          {% endif %}

          {% if appt.course_module_three %}
            <li>{{ appt.course_module_three|default('')}}</li>
          {% else %}
          {% endif %}

          {% if appt.course_module_four %}
            <li>{{ appt.course_module_four|default('')}}</li>
          {% else %}
          {% endif %}
          
          {% if appt.course_module_five %}
            <li>{{ appt.course_module_five|default('')}}</li>
          {% else %}
          {% endif %}

          {% if appt.course_module_six %}
            <li>{{ appt.course_module_six|default('')}}</li>
          {% else %}
          {% endif %}
          {% if appt.course_module_seven %}
            <li>{{ appt.course_module_seven|default('')}}</li>
          {% else %}
          {% endif %}
          {% if appt.course_module_eight %}
            <li>{{ appt.course_module_eight|default('')}}</li>
          {% else %}
          {% endif %}
          {% if appt.course_module_nine %}
            <li>{{ appt.course_module_nine|default('')}}</li>
          {% else %}
          {% endif %}
          {% if appt.course_module_ten %}
            <li>{{ appt.course_module_ten|default('')}}</li>
          {% else %}
          {% endif %}
        </ul>
        {% else %}
        <p>No modules or learning structure and outcome was specified</p>
        {% endif %}
		{% if show_students %}
          {% if appt.max_students %}
		    <p> Max &nbsp;<i class="fa fa-users">{{appt.max_students|default('')}}</i> </p>
          {% else %}
          {% endif %}
          {% if appt.min_students|default %}
		  <p>Min &nbsp;<i class="fa fa-user-times">{{ appt.min_students|default('')}}</i></p>
          {% else %}
          {% endif %}
		{% endif %}
    </div>
    {% if show_edit %}
    <div class="edit-controls"  align="right">
        <i class="icon-pencil"></i>
        <a href="{{ url_for('course_edit', course_id=appt.id) }}">Edit</a>
        <span class="inline-pad"></span>
        <i class="icon-trash"></i>
        <a class="course-delete-link" href="#" data-delete-url="{{ url_for('course_delete', course_id=appt.id) }}">Delete</a>
    </div>
    {% endif %}

    <!-- Bootstrap trigger to open modal -->


</div>
{% endmacro %}

{% macro edit_field(field, catch_kwargs=true) %}
<div class="form-group {% if field.errors %}error{% endif %}">
    <label for="{{ field.id }}" class="control-label">
        {{ field.label.text }}{% if field.flags.required %} *{% endif %}:
    </label>

    {% set class_ = kwargs.pop('class_', '') %}
    {% if field.flags.required %}
    {% set class_ = class_ + ' required' %}
    {% endif %}

    {% if field.type == 'BooleanField' %}
    <div class="checkbox">
        <label>
            {{ field(class_=class_, **kwargs) }}
            {{ field.label.text|safe }}
        </label>
    </div>

    {% else %}

    {% if field.type in ('TextField', 'TextAreaField', 'PasswordField') %}
    {% set class_ = class_ + ' input-xlarge form-control' %}

    {% elif field.type == 'FileField' %}
    {% set class_ = class_ + ' input-file form-control' %}
    {% endif %}

    {% if field.type == 'SelectField' %}
    {{ field(class_=class_, **kwargs) }}
    {% else %}

    {{ field(class_=class_,  **kwargs) }}
    {% endif %}

    {% endif %}

    {% if field.errors %}
    <span class="error help-inline">{{ field.errors|join(', ') }}</span>
    {% endif %}
    {% if field.description %}
    <p class="help-block">{{ field.description|safe }}</p>
    {% endif %}

</div>
{% endmacro %}

{% macro edit_field_old(field, catch_kwargs=true) %}
<div class="control-group{% if field.errors %} error{% endif%}">
    {{ field.label(class="control-label") }}
    <div class="controls">
        {{ field(**kwargs) }}
        {% for error in field.errors %}<span class="help-inline">{{ error }}</span>{% endfor %}
    </div>
</div>
{% endmacro %}
