<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Teachera:  </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="google-site-verification" content="Vrn1u7x7MR5PRxaZ2y8TSyixybVPX_T4PRQDYvSxRGM" />
    <meta name="description" content="{{details.description}}.">
    <link rel="stylesheet" href="./bootstrap.css" media="screen">
    <link rel="stylesheet" href="./font-awesome.min.css">
    <link rel="stylesheet" href="./custom.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="./bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="./bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');

fbq('init', '117737861924936');
fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=117737861924936&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
  </head>
  <body id="home">
    <div class="navbar navbar-default navbar-fixed-top navbar-transparent">
      <div class="container">
        <div class="navbar-header">
          <!------<a href="./" class="navbar-brand"><img src="assets/img/logo-nav.png">Teachera</a>----->
          <a href="./" class="navbar-brand"> Teachera</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://docs.google.com/forms/d/1KbLW2gmJ5QRO5_KQ7G5vsYuF8VnSq45pp5-7PN63JGQ/viewform" target="_blank">Signup</a></li>
            <li><a href="https://docs.google.com/forms/d/1KbLW2gmJ5QRO5_KQ7G5vsYuF8VnSq45pp5-7PN63JGQ/viewform" target="_blank">Login</a></li>
          </ul>

        </div>
      </div>
    </div>

    <div class="splash">
      <div class="container">

        <div class="row">
          <div class="col-lg-12">
            <!-- <div><img class="logo" src="assets/img/logo.png"></div> -->
            <h1></h1>
             <h4>The course duration is .Click on these links below to register if you are interested.</h4>
            <div id="social">
              <span>
                <p class="bs-component">
              		<a class="btn btn-default" href="https://docs.google.com/forms/d/1KbLW2gmJ5QRO5_KQ7G5vsYuF8VnSq45pp5-7PN63JGQ/viewform">To Learn</a>
              		<a class="btn btn-primary" href="https://docs.google.com/forms/d/1FOu7jV4N4x5eAwLf6SC2zlVVhSh92hwdkkMbo_R5qq8/viewform?edit_requested=true">To Teach</a>
            </p>
              </span>
              <span>
              </span>
            </div>
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
<!----------- Logo or text here------>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="section-tout">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 col-sm-6">
            <h3><i class="fa fa-file-o"></i> About the teacher</h3>
            <p></p>
          </div>
          <div class="col-lg-4 col-sm-6">
            <h3><i class="fa fa-github"></i> Learning Outcome</h3>
            <p></p>
          </div>
          <div class="col-lg-4 col-sm-6">
            <h3><i class="fa fa-wrench"></i>Course Content</h3>
            <p></p>
          </div>
          <div class="col-lg-4 col-sm-6">
            <h3><i class="fa fa-cogs"></i> Timeline.</h3>
             <p>Start date </p>
          </div>
          <div class="col-lg-4 col-sm-6">
            <h3><i class="fa fa-cloud"></i>English</h3>
            <p>English gives you more than wings. Let our private tutors prepare you for those exams.</p>
          </div>
          <div class="col-lg-4 col-sm-6">
            <h3><i class="fa fa-bullhorn"></i> Teaching any courses?</h3>
            <p>We are interested to hear from you if you are looking for any teaching related jobs please fill out your information  <a href="https://docs.google.com/forms/d/1FOu7jV4N4x5eAwLf6SC2zlVVhSh92hwdkkMbo_R5qq8/viewform?edit_requested=true
">here</a>.</p>
          </div>
	  <div class="col-lg-4 col-sm-6">
            <h3><i class="fa fa-bullhorn"></i> Contact us</h3>
            <p>Reach us by sending an email to info@teachera.org or on phone +34 607 660 196 (English)</p>
          </div>
        </div>

      </div>
    </div>


      </div>
    </div>
    <div class="container">
      <footer>
        <div class="row">
          <div class="col-lg-12">

            <!-------<ul class="list-unstyled">
              <li class="pull-right"><a href="#top">Back to top</a></li>
              <li><a href="http://news.bootswatch.com" onclick="pageTracker._link(this.href); return false;">Blog</a></li>
              <li><a href="http://feeds.feedburner.com/bootswatch">RSS</a></li>
              <li><a href="https://twitter.com/bootswatch">Twitter</a></li>
              <li><a href="https://github.com/thomaspark/bootswatch/">GitHub</a></li>
              <li><a href="./help/#api">API</a></li>
              <li><a href="./help/#support">Support</a></li>
            </ul>------>
            <p>Made in Barcelona by <a href="http://ziliot.com" rel="nofollow">Ziliot International</a>. 2015 <a href="./"></a>
            <!-----<p>Code released under the <a href="https://github.com/thomaspark/bootswatch/blob/gh-pages/LICENSE">MIT License</a>.</p>---->
            <!-----<p>Based on <a href="http://getbootstrap.com" rel="nofollow">Bootstrap</a>. Icons from <a href="http://fortawesome.github.io/Font-Awesome/" rel="nofollow">Font Awesome</a>. Web fonts from <a href="http://www.google.com/webfonts" rel="nofollow">Google</a>.</p>----->

          </div>
        </div>

      </footer>


    </div>


    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./assets/js/custom.js"></script>
    <script>
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    </script>
  <script type="text/javascript">
/* <![CDATA[ */
(function(){try{var s,a,i,j,r,c,l=document.getElementsByTagName("a"),t=document.createElement("textarea");for(i=0;l.length-i;i++){try{a=l[i].getAttribute("href");if(a&&a.indexOf("/cdn-cgi/l/email-protection") > -1  && (a.length > 28)){s='';j=27+ 1 + a.indexOf("/cdn-cgi/l/email-protection");if (a.length > j) {r=parseInt(a.substr(j,2),16);for(j+=2;a.length>j&&a.substr(j,1)!='X';j+=2){c=parseInt(a.substr(j,2),16)^r;s+=String.fromCharCode(c);}j+=1;s+=a.substr(j,a.length-j);}t.innerHTML=s.replace(/</g,"&lt;").replace(/>/g,"&gt;");l[i].setAttribute("href","mailto:"+t.value);}}catch(e){}}}catch(e){}})();
/* ]]> */
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70371243-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
