<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Teachera: Private tutoring jobs | Find prvate teachers, coaches and tutors </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="google-site-verification" content="Vrn1u7x7MR5PRxaZ2y8TSyixybVPX_T4PRQDYvSxRGM" />
    <meta name="description" content="Click here to find private classes on learning guitar, programming, seo, maths, physics, English, Spanish, Catalan etc.">
    <!-- You can use open graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@teacheraorg">
    <meta name="twitter:creator" content="@teacheraorg">
    <meta name="twitter:title" content="Affordable face to face group classes and courses">
    <meta name="twitter:description" content="Teachera - Where find group class attendees to teach programming, seo, pmp, salsa, yoga and other courses .">
    <meta name="twitter:image" content="http://teachera.org/static/img/learnteach.jpg">
    <meta property="og:url"           content="http://teachera.org" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Private group teachers and tutors" />
    <meta property="og:description"   content="Offer a class on learning guitar, programming, seo, maths, physics, English, Spanish, Catalan in Barcelona." />
    <meta property="og:image"         content="http://teachera.org/static/img/Teachera.jpg" />
    <meta property="fb:app_id"	      content="278199585695188" />

    <link rel="stylesheet" href="{{ url_for('static', filename='pygments.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='site.css') }}">
    <link rel="image_src" href="http://teachera.org/static/img/Teachera.jpg" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="./bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="./bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
<!----Firehose chat script----->
<script type="text/javascript">
  var FHChat = {product_id: "aa51aeaf7ad7"};
  FHChat.properties={};FHChat.set=function(key,data){this.properties[key]=data};!function(){var a,b;return b=document.createElement("script"),a=document.getElementsByTagName("script")[0],b.src="https://chat-client-js.firehoseapp.com/chat-min.js",b.async=!0,a.parentNode.insertBefore(b,a)}();
</script>
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');

fbq('init', '1639664539644918');
fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1639664539644918&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
<!-- Hotjar Tracking Code for http://teachera.org -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:127342,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>

  </head>
  <body id="home">
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '278199585695188',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

  <div id="wrap"> <!-- necessary for sticky footer. wrap all content except footer -->
    <div class="collapse hidden-print" id="banner">
  <div class="container">
    <div class="message-container">
      <div class="tagline">
        <span id="rotating-message"></span>
      </div>
      <div class="action">
        <a id="rotating-url" class="btn btn-primary btn-block" href=""></a>
      </div>
    </div>
  </div>
</div>

  <div class="navbar navbar-inverse navbar-static-top hidden-print">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars fa-lg"></i>
      </button>
      <a href="./" class="navbar-brand"> Teachera</a>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="./about">About Us</a></li>
        <li class="hidden-sm">
          <a href="./faq">Faq</a>
        </li>
        <li class="hidden-xs hidden-md hidden-lg">
          <a href="./faq">Faq</a>
        </li>
        </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/signup">Sign up</a></li>
                <li><a href="/login"><i class="fa fa-unlock"></i> Login</a></li>
            </ul>
    </div>
  </div>
</div>


 <div class="jumbotron jumbotron-carousel hidden-print">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h1>Teach any class or course in Barcelona</h1>
        <h2>We provide the students and the venue. Just show up and teach!</h2>
        <h4>Click the signup button to join! When joining please tick the box to identify that you are a coach</h4>
        <div class="actions">
          <a class="btn btn-default btn-lg" href="/signup" data-toggle="modal">
            <i class="fa fa-sign-in"></i>&nbsp;
            Signup
          </a>
        </div>
      </div>
      <div class="noDiv">
        <div id="icon-carousel" class="carousel slide">
          <!-- Carousel items -->

        </div>
      </div>
    </div>

  </div>
</div>

<div class="container">
  
  <section class="hidden-print">
  <div class="stripe-ad">
    <!----<script src="https://cdn.fusionads.net/fusion.js?zoneid=1332&amp;serve=C6SDP2Y&amp;placement=fontawesome" id="_fusionads_js"></script>---->

    
  <p class="lead">
    We connect anyone with group classes taught by private teachers. Learn anything &mdash; guitar, programming, seo,
    marketing, mathematics and many more at an affordable rate.
  </p>
  
  </div>
</section>


  <section id="why" class="feature-list">
  <div class="row">
{% for appt in appts -%}
    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-flag"onclick="location.href='/signup';" style="cursor: pointer;">{{ appt.coach_name }}</h4>
                 {{ appt.phone_number }}, <a href="{{ appt.website }}"target="_blank">{{ appt.website }}</a>
<ul>
          {% if appt.additional_data1 %}
            <li>{{ appt.additional_data1|default('')}}</li>
          {% else %}
          {% endif %}

          {% if appt.additional_data2 %}
            <li>{{ appt.additional_data2|default('')}}</li>
          {% else %}
          {% endif %}

          {% if appt.additional_data3 %}
            <li>{{ appt.additional_data3|default('')}}</li>
          {% else %}
          {% endif %}

          {% if appt.additional_data4 %}
            <li>{{ appt.additional_data4|default('')}}</li>
          {% else %}
          {% endif %}
          
          {% if appt.additional_data5 %}
            <li>{{ appt.additional_data5|default('')}}</li>
          {% else %}
          {% endif %}



        </ul>
		


    </div>
  {%- endfor %}
 </div>
</section>
</div>
  </div>
  <footer id="footer" class="footer hidden-print">
  <div class="container text-center">
    <div>
      <i class="fa fa-flag"></i> Teachera
      <span class="hide-xs">&middot;</span><br class="hide-sm hide-md hide-lg">
      Created by in Barcelona</a>
    </div>
    <div>
      More links <a href="/sitemap"> Sitemap</a>, 

    </div>
    <div class="project">
      <a href="/learn-to-play-guitar-Barcelona">Guitar classes</a> &middot;
      <a href="/learn-to-code-Python-Barcelona">Python classes</a> &middot;
      <a href="/learn-to-code-Java-Barcelona"> Java classes</a>
    </div>
    <div>
      <a href="/salsa-classes-in-barcelona">Sala classes in Barcelona</a> |
      <a href="/yoga-classes-in-barcelona">Yoga classes in Barcelona</a> |
      <a href="/group-excercise-classes-barcelona">Group exercise classes Barcelona</a> |

    </div>
  </div>
</footer>


  <script src="https://platform.twitter.com/widgets.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
